<!DOCTYPE html>
<html th:replace="~{layout/index :: layout(~{::title},~{::#content},~{::script})}">

<title>产品</title>

<div class="layui-card layadmin-header" id="content" style="padding: 15px;">
  <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
    <a lay-href="">主页</a><span lay-separator="">/</span>
    <a><cite>产品</cite></a><span lay-separator="">
  </div>
  
  
  <div style="margin-top: 15px;">
	<a th:href="@{/product/toEdit}" class="layui-btn layui-btn-sm layui-btn-normal">
		<i class="layui-icon layui-icon-add-1"></i> 添加产品
	</a>
	
	<a th:href="@{/spec/index}" class="layui-btn layui-btn-sm layui-btn-normal">
		<i class="layui-icon layui-icon-add-1"></i> 规格管理
	</a>
	
   </div>
  
  <table class="layui-table">
  <thead>
    <tr>
      <th>序号</th>
      <th>名称</th>
      <th>类别</th>
      <th>图片</th>
      <th>状态</th>
      <th>排序</th>
      <th>添加时间</th>
      <th>操作</th>
    </tr> 
  </thead>
  <tbody>
  	<tr th:if="${productList}==null"><td colspan="8" style="text-align: center;">列表数据为空</td></tr>
    <tr th:each="obj,memberStat:${productList}">
      <td th:text="${memberStat.index + 1}"/>
      <td th:text="${obj.name}"></td>
      <td th:text="${obj.classify}==null?'':${obj.classify.name}"></td>
      <td>照片
<!-- 	      <img class="layadmin-homepage-pad-img"  th:if="${obj.productFiles != null}" -->
<!-- 	      th:src="@{/image/{fileName}(fileName=${obj.uploadFile.fileName})}" width="96" height="96"> -->
      </td>
      <td>
      	<input type="checkbox" name="status" lay-skin="switch" lay-text="上架|下架">
      </td>
	  <td th:text="${obj.sort}"></td>
      <td th:text="${#dates.format(obj.createDate,'yyyy-MM-dd HH:mm:ss')}"></td>
      <td>
      <button class="layui-btn layui-btn-sm layui-btn-normal">
      <i class="layui-icon layui-icon-tips"></i> 详情</button>
      <button class="layui-btn layui-btn-sm layui-btn-normal" id="test2">
      <i class="layui-icon layui-icon-edit"></i> 修改</button>
      <button class="layui-btn layui-btn-sm layui-btn-danger">
      <i class="layui-icon layui-icon-delete"></i> 删除</button>
      
      </td>
    </tr>
  </tbody>
</table>
</div>



<script>
layui.use(['layer',"jquery"], function(){
	  var layer = layui.layer;
	  var $ = layui.jquery;
	 
	  //样式选择
	  $("#sidebar #product").addClass("layui-this");
	  
	  
	  
	  
	});  


</script>