<!-- 侧边导航栏 -->
  <div class="layui-side layui-bg-black" th:fragment="sidebar">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" id="sidebar" lay-filter="test">
      	
        <li id="index" class="layui-nav-item"><a href="/index">首页</a></li>
        <li id="classify" class="layui-nav-item"><a href="/classify/index">分类管理</a></li>
        <li id="product" class="layui-nav-item"><a href="/product/index">商品管理</a></li>
      </ul>
    </div>
  </div>